/*Only use this file if you want to override bootstrap or create your own style*/
body{
  background: url(assets/hyrule-castle.png) center center;
  background-size: cover;
}

h1{
  color: #fff;
  margin: 20px;
  padding: 35px;
  text-align: center;
}

progress {
    background-color: #f3f3f3;
    border: 0;
    height: 18px;
    border-radius: 5%;
    color: #33691e;
    width: 80px;
}

.invert {
    filter: invert(100%);
}

.sprite {
    max-height: 250px;
}